{% extends 'layouts/base.html' %}

{% block title %}Frequently Asked Questions{% endblock %}
{% block meta_description %}Here you can find all the information user's will typically ask about regarding our site.{% endblock %}
{% block heading %}<h2>Frequently Asked Questions</h2>{% endblock %}

{% block body %}
<p>
    This page contains all the information that user's will typically ask about regarding our site.
    If your question is not answered on this page feel free to contact us at: test@todogmail.com.
</p>

<hr/>

<h3>Why should I make a to-do list?</h3>
<p>
    Have you ever felt like your life was disorganized and chaotic?
    Do you have goals you want to achieve but feel you are slowly meandering through them?

    Then a to-do list is perfect for you! Organization is a key principle of success and without it you will have a much harder time reaching your goals.
</p>

<hr/>


<h3>What technology was used to build this site?</h3>
<p>
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>Bootstrap</li>
        <li>Docker</li>
        <li>Jinja2</li>
        <li>gunicorn</li>
    </ul>
</p>
<hr/>


{% endblock %}