{% extends 'layouts/base.html' %}
{% block title %} Keep track of all the things you need TODO!{% endblock %}
{% block meta_description %} Organize your life and track the progress made toward all of your goals.{% endblock %}

{% block body %}
<div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
        <h1>Track your progress</h1>
        <h3 class="text-muted">
            Getting better every day.
        </h3>
    </div>
    <div class="row text-center">
        <div class="col-lg-4">
            <i class="fa fa-fw fa-4x fa-bullhorn text-primary"></i>
            <h2>Create TODO list</h2>
            <p class="text-muted">No goal is too big or too small.</p>
            <p>
                <a href="#" class="btn btn-default">Sign up</a>
            </p>
        </div>
        <div class="col-lg-4">
            <i class="fa fa-fw fa-4x fa-database text-primary"></i>
            <h2>Track Progress</h2>
            <p class="text-muted">Every journey begins with one single step.</p>
            <p>
                <a href="#" class="btn btn-default">Sign up</a>
            </p>
        </div>
        <div class="col-lg-4">
            <i class="fa fa-fw fa-4x fa-trophy text-primary"></i>
            <h2>Stay Organized</h2>
            <p class="text-muted">Failing to plan is planning to fail.</p>
            <p>
                <a href="#" class="btn btn-default">Sign up</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
